[{lager, [
    {handlers, [
        {lager_console_backend, [debug, {lager_default_formatter, ["[", date, " ", time, "]", color, " [",severity,"] ", pid, " ", message, "\e[0m\r\n"]}]},
        {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
            {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
        {lager_file_backend, [{file, "console.log"}, {level, debug}, {formatter, lager_default_formatter},
            {formatter_config, [" [", date, " ", time, "] ", " [",severity,"] ",pid, " ", message, "\n"]}]}
    ]}
]}
].